<div id="kda1" class="box"><!-- /.box-header -->
<div class="box-body">
<div class="form-group">
<p style="text-align: center;"><strong><span style="font-size: 12px;">KERTAS DATA AUDIT</span></strong></p>

<div class="box-body biodata">
 <p style="text-align: left; line-height: 0.05;"><strong><span style="font-weight: bold; font-size: 12px;"><label class="col-sm-2 control-label">Unit Kerja</label>: unit$</span></strong></p>
<p style="text-align: left; line-height: 0.05;"><strong><span style="font-weight: bold; font-size: 12px;"><label class="col-sm-2 control-label">Sasaran</label>: Pengelolaan Keuangan</span></strong></p>
<p style="text-align: left; line-height: 0.05;"><strong><span style="font-weight: bold; font-size: 12px;"><label class="col-sm-2 control-label">Masa Audit</label>: masaaudit$</span></strong></p>
<p style="text-align: left; line-height: 0.05;"><strong><span style="font-weight: bold; font-size: 12px;"><label class="col-sm-2 control-label">Bulan Audit</label>: bulanaudit$</span></strong></p>
<p style="text-align: left; line-height: 0.05;"><strong><span style="font-weight: bold; font-size: 12px;"><label class="col-sm-2 control-label">Auditor</label>: auditor$</span></strong></p>
</div>
<p>&nbsp;</p>

<div>
<p style="text-align: left; line-height: 0.05;"><strong><label class="col-sm-3 control-label">Temuan</label></strong>: Pengelolaan keuangan tidak tertib</p>
<p style="text-align: left; line-height: 0.05;"><strong><label class="col-sm-3 control-label">Deskripsi Masalah</label></strong>: Penyerahan berkas SPJ</p>
</div>

<div class="box-body menu"><strong>Uraian</strong></div>
<div class="box-body menu"><strong>a. Kondisi:</strong></div>
<div class="box-body tab1"><p>kondisi$</p></div>


<div class="box-body menu"><strong>b. Kriteria</strong></div>
<div class="box-body tab2">
<ol>
<li>Peraturan Rektor Institut Teknologi Sepuluh Nopember Nomor 7 Tahun 2018 tentang <strong>Perubahan atas Peraturan Rektor Nomor 6 tahun 2017 tentang Pedoman Pengelolaan Keuangan Institut Teknologi Sepuluh Nopember.</strong></li>
</ol></div>

<div class="box-body menu"><strong>c. Kesimpulan</strong></div>
<div class="box-body tab1"><p>kesimpulan$</p></div>

<div class="box-body menu"><strong>d. Saran</strong></div>
<div class="box-body tab1"><p>saran$</p></div>

<div class="box-body menu"><strong>e. Rekomendasi</strong></div>
<div class="box-body tab1"><p>rekomendasi$</p></div>

<div class="box-body menu"><strong>f. Tanggapan</strong></div>
<div class="box-body tab1"><p>tanggapan$</p></div>
<p>&nbsp;</p>
<div class="temuan">
	<div class="row">
		<div class="col-sm-6">Surabaya, tanggalttd$</div>
		<div class="col-sm-6 penutup">Menyetujui</div>
	</div>
	<div class="row">
		<div class="col-sm-6">Kepala Kantor Audit Internal,</div>
		<div class="col-sm-6 penutup">Auditan,</div>
	</div>
	<p>&nbsp;</p>
	<div class="row">
		<div class="col-sm-6">Ir. Mutiah Salamah Chamid., M.Kes</div>
		<div class="col-sm-6 penutup">auditor$</div>
	</div>
</div>

</div>
</div>
</div>